*{
	padding: 0;
	margin: 0;
}
body{
	background: black;
	color: white;
}
header{
	display: flex;
	justify-content: center;
}
.cycles, .naz{
	margin-right: 25px;
    display: inline-block;
    vertical-align: middle; 
}
.v{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle; 
}
.naz li{
	margin-right: 25px; 
	display: inline-block;
	vertical-align: middle;
}
.v li{
	margin-right: 25px; 
	display: inline-block;
	vertical-align: middle;
}
.naz a{
	vertical-align: middle;
	font-family: arial;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.v a{
	vertical-align: middle;
	font-family: arial;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.naz a:hover{
	color: #26C4FF
}
.v a:hover{
	color: #26C4FF
}
.cycles h2{
	font-family: arial;
	font-size: 25px;
	vertical-align: middle;
	color: white;
}
.text h4{
	font-family: arial;
	font-size: 15px;
	vertical-align: middle;
	color: white;
}
.text h2{
	font-family: arial;
	font-size: 18px;
	vertical-align: middle;
	color: white;
}
.text{
	font-family: arial;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	color: white;
}
.img{
	display: block;
	margin: auto;
}